.profile-drop-down{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  overflow: hidden;
  display: none;
}

.logout-btn-content, .login-btn-content{
  display: flex;
}

.material-symbols-outlined{
  margin-right: 5px;
}
