<div *ngIf="(user$ | async)" class="dashboard-wrapper">
    <div class="dashboard-header">
        <span class="my-videos">My Videos ({{(userVideos$ | async)?.length}})</span>
        <button mat-fab class="add-video-btn" color="primary" matTooltip="Add New video" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
            <mat-label>Search By Title</mat-label>
            <input matInput [(ngModel)]="searchTerm">
        </mat-form-field>
        <div class="view-switch">
            <button mat-icon-button matTooltip="List View" (click)="changeToListView()"><mat-icon>dehaze</mat-icon></button>
            <button mat-icon-button matTooltip="Grid View" (click)="changeToGridView()"><mat-icon>grid_on</mat-icon></button>
        </div>
    </div>

    <div class="view-wrapper">
        <div #userVideosContainer class="video-container">
            <div class="no-video" *ngIf="!(userVideos$ | async); else videos">
                <h3>No videos found, click on the + button to get started!</h3>
            </div>
            <ng-template #videos>
                <div class="video" *ngFor="let video of userVideos$ | async | filter: searchTerm : null">
                  <video-card *ngIf="allYouTubeVideoDetails" [videoId]="video.videoId"
                    (editVideoEmitter)="navigateToDetailsView($event)"
                    (deleteVideoEmitter)="deleteVideoPrompt($event)"
                    (videoIdEmitter)="previewVideo($event)"
                    [videoDetails]="getVideoDetailsById(video.videoId)">
                  </video-card>
                </div>
            </ng-template>
        </div>
        <div *ngIf="listView" class="video-player-card">
            <mat-card>
                <mat-card-content class="card-content">
                    <ng-container *ngIf="!videoSelectedId">
                        <mat-icon class="video-icon">video_library</mat-icon>
                        <mat-card-title>Select a video to preview.</mat-card-title>
                    </ng-container>
                    <div class="iframe-container" *ngIf="videoSelectedId">
                        <youtube-player [videoId]="videoSelectedId"></youtube-player>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="myshared-videos-header">
        <h1>My Shared Videos ({{(userSharedVideos$ | async)?.length}})</h1>
        <mat-form-field class="search-field">
            <mat-label>Search By Title</mat-label>
            <input matInput [(ngModel)]="searchSharedTerm">
        </mat-form-field>
    </div>
    <div class="video-container">
        <div class="" *ngFor="let sharedVideo of userSharedVideos$ | async | sharedfilter: searchSharedTerm : null">
            <app-shared-video-card *ngIf="allYouTubeVideoDetails" [videoId]="sharedVideo.videoId"
                                   (editVideoEmitter)="navigateToSharedEdit($event)"
                                   [sharedVideoDetails] = "sharedVideo"
                                   (videoIdEmitter)="previewVideo($event)"
                                   [videoDetails]="getVideoDetailsById(sharedVideo.videoId)">
            </app-shared-video-card>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="community-videos-header">
        <h1>Request for BID:<span><h2> someone needs your help!</h2></span></h1>
        <mat-form-field class="search-community-field">
            <mat-label>Filter By</mat-label>
            <mat-select [(ngModel)]="selectedFilter">
                <mat-option value="title">Title</mat-option>
                <mat-option value="language">Language</mat-option>
                <mat-option value="requestedBy">Requested By</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search-community-field">
            <mat-label>Enter value</mat-label>
            <input matInput [(ngModel)]="filterValue">
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="sortByDate">Sort by Creation Date</mat-checkbox>
        <mat-form-field style="margin-left: 10px;"  *ngIf="sortByDate">
            <mat-label>Sort Order</mat-label>
            <mat-select [(ngModel)]="sortOrder">
                <mat-option value="asc">Ascending</mat-option>
                <mat-option value="desc">Descending</mat-option>
            </mat-select>
        </mat-form-field>
    </div>   
    <div class="video-container">
            <div class="" *ngFor="let video of communityVideos$ | async | communityfilter: filterValue : selectedFilter : sortByDate : sortOrder">
                <community-video-card *ngIf="allYouTubeVideoDetails" [videoId]="video.videoId"
                                      (editVideoEmitter)="navigateToCommunityEdit($event)"
                                      [communityRequestDetails] = "video"
                                      [videoDetails]="getVideoDetailsById(video.videoId)"
                                      [userEmail]="userEmail"
                                      [userId]="userId">
                </community-video-card>
            </div>
    </div>

</div>

<div class="video-submission-form" *ngIf="isFormOpen">
    <app-video-init-form class="video-init-form">
    </app-video-init-form>
</div>
<fullscreen-loader *ngIf="(loading$ | async)"></fullscreen-loader>
