<mat-toolbar>
    <span [routerLink]="''">
      <div class="logo">S & D</div>
    </span>
    <div class="menu-items">
        <span [routerLink]="''">Home</span>
        <span [routerLink]="'dashboard'" [matTooltip]="'Login to view your Dashboard'" [matTooltipDisabled]="auth.isLoggedIn">Dashboard</span>
        <span [routerLink]="'messages'" [matTooltip]="'Login to view your Messages'" [matTooltipDisabled]="auth.isLoggedIn">Messages<ng-container *ngIf="notifications > 0">
          <span class="notification-badge" [ngStyle]="{'background-color': 'ed'}">{{notifications}}</span>
      </ng-container></span>
    </div>
    <span class="spacer"></span>
    <div class="user-wrapper" *ngIf="(auth.user | async) as user" id="user-photo">
      <img alt="user-img" referrerpolicy="no-referrer" class="user-icon" [src]="user.photoURL">
    </div>
    <div *ngIf="!(auth.user | async)">
      <login-button></login-button>
    </div>
</mat-toolbar>


