.profile-details-card{
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(126, 126, 126, 0.5);
  background-color: #f6f6f6;
  height: fit-content;
  text-align: center;
}

.profile-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-display-name p{
  margin-top: 15px;
  font-size: 1.55em;
}

.prof-user-email{
  margin-top: 10px;
}

.prof-user-email p{
  font-size: 0.9em;
  color: grey;
}

.prof-bio-display{
  font-size: 1.2em;
  font-style: italic;
  color: #333333;
}

.profile-edit-head h3, .prof-overview-header h3{
  font-size: 1.90em;
  margin-bottom: 40px;
}

.profile-details-header  h3, .lang-details-header h3{
  font-size: 20px
}

.profile-lang-control{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px #b4b4b4 solid;
}

.profile-edit-bio textarea{
  min-height: 40px;
}

.profile-edit-gmail mat-form-field, .profile-edit-gmail input:hover{
  cursor: not-allowed;
}

.table-container{
  text-align: center;
}

.empty-table{
  font-style: italic;
  font-size: 12px;
  color: #323e48;
}

.lang-skill-sector mat-card-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.rate-sys-star{
  margin-right: 15px;
}

.user-rating-display{
  margin: auto;
  display: flex;
  justify-content: center;
}

.user-rating-display:hover{
  cursor: pointer;
}

.user-rating-display mat-icon, .user-rating-display span{
  color: #ce950c;
}

.star-rating {
  display: flex;
}

.star {
  font-size: 2rem;
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s;
}

.star.filled {
  color: #ce950c;
}

mat-form-field{
  width: 100% !important;
}

.cancel-rate-btn{
  margin-right: 10px;
}

.give-rate-btn{
  margin-top: 10px;
}
