<h3 mat-dialog-title>Translate Subtitles</h3>

<div class="radio-btn-wrapper" [formGroup]="form">
  <mat-radio-group (change)="onChangeRadioButton()" aria-label="Select an option" formControlName="radioBtn">
    <div mat-dialog-content class="mat-typography">
      <h3>Translate subtitle to target language</h3>
    </div>
    <div class="target-lang">
      <mat-radio-button class="radio-btn target" value = "1">Target Language:</mat-radio-button>
      <h3><b>{{langName}}</b></h3>
    </div>

    <div mat-dialog-content class="mat-typography">
      <h3>Or translate it to another language</h3>
    </div>
    <div class="another-lang">
      <mat-radio-button class="radio-btn another" value = "2">Another Language:</mat-radio-button>
      <div class="select-lang-menu">
        <mat-form-field>
          <mat-label>Languages</mat-label>
          <mat-select formControlName = "selectedLang">
            <mat-option *ngFor="let language of (supportedLanguages$ | async)?.data?.languages" value="language.language" (click)="selectLanguage(language.language)">{{language.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-radio-group>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="disabledBtn" [mat-dialog-close]=selectedLang>Translate</button>
</div>
