

<h2 mat-dialog-title>{{videoTitle}}</h2>

    <div mat-dialog-content>
     
    <p class="language-requested">Subtitle: {{fileName}}.{{this.data.requestDetails.format}}</p> 
    <p class="language-requested">Language: {{ languageRequested }}</p>
  
    <div class="request-details">
        <p>Deadline: {{ deadline}}</p>
        <p>Currency: €</p>

        <div class="input-container">
          <div>
            <p>Set new deadline:</p>
                <input type="date" #date [(ngModel)]="newDeadline" (input)="onDateInput()" [min]="today" lang="en">
              <div *ngIf="deadline!='No'">
                <input type="checkbox" [(ngModel)]="noDeadline" (ngModelChange)="onNoDeadlineChange()"> No Deadline
              </div>  
                <p>or</p>
                <input type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="onIsCheckedChange()"> Close request
          </div>
        </div>
        
      </div>
  
      <mat-dialog-actions class="button-container">
        <button mat-button [mat-dialog-close]="null">Cancel</button>
        <button mat-raised-button [disabled]="!(isChecked || newDeadline || noDeadline)" [mat-dialog-close]="{newDeadline, isChecked}" (click)="changeDeadline(isChecked, newDeadline)" color="primary">Change Dealine</button>
      </mat-dialog-actions>
    </div> 
    
    