<h2 mat-dialog-title>Batch Dialog Creation Configuration</h2>
<mat-dialog-content class="mat-typography">
  <h3>Set an interval in seconds for dialog box creation.</h3>
  <h5>*Note that if the video duration is big and the interval number is small enough it can cause heavy delay creating a lot of dialog boxes</h5>
</mat-dialog-content>
<div class="input-container">
    <mat-form-field>
        <mat-label>Set Interval</mat-label>
        <input matInput type="number" [min]="1" #interval>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button color="primary" (click)="onClickToCreateBatch()" [disabled]="(interval.value == '' || +interval.value <= 0)" [mat-dialog-close]="interval.value" >Create</button>
</mat-dialog-actions>
