<h2 mat-dialog-title>Set up new subtitle</h2>
<div class="new-sub-container-form" [formGroup]="newSubForm">
  <div class="language-selector">
    <h3 class="mat-typography">First select Language:</h3>
    <mat-form-field appearance="fill">
      <mat-select (selectionChange)="isSelected()" formControlName="language">
        <mat-option *ngFor="let lang of (supportedLanguages$ | async)?.data?.languages" value="{{lang.language}}" (click)="saveLanguage(lang)">{{lang.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-dialog-content class="mat-typography" *ngIf="langIsSelected">
    <h3>Now set a name that will help you identify your subtitle.</h3>
  </mat-dialog-content>
  <div class="input-container" *ngIf="langIsSelected">
      <mat-form-field>
        <mat-label>Choose name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="newSubForm.get('name')?.hasError('pattern')">The name contains one or more unaccepted special characters</mat-error>
      </mat-form-field>
      <mat-form-field class="format-selector">
        <mat-label>Format</mat-label>
        <mat-select formControlName="format">
          <mat-option [value]="'sbv'">SBV</mat-option>
          <mat-option [value]="'srt'">SRT</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
<div class="actions-btn">
  <mat-dialog-actions align="end">
    <button mat-button color="warn" [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="newSubForm.invalid" [mat-dialog-close]="{
    language: selectedLang,
    name: newSubForm.controls['name'].value,
    format: newSubForm.controls['format'].value}">
      Save
    </button>
  </mat-dialog-actions>
</div>
