::ng-deep .mat-mdc-form-field {
    flex-grow: 1;
}

.input-container {
    padding-left:24px;
    padding-right: 24px;
    display:flex;
}

.format-selector{
    width:20%;
    padding-left:10px;
}

.mat-mdc-dialog-actions {
    padding-right:25px;
}

.language-selector{
  display: flex;
  padding-right:25px;
  padding-left:25px;
}

.language-selector .mat-typography{
  margin-top: 14px;
  margin-right: 10px;
}
