

<div class="messages">
  <mat-dialog-content >
    
      <div *ngIf="messages.length > 0">
        <!-- render the list of messages -->
        <div *ngFor="let message of messages let i = index">
          <mat-card class="message-card" tabindex="0">
            <div class="bullet"></div>
          <div class="row">
            <div class="col">
              <mat-card-title>
                  <h3>{{ message.subject }}</h3>
              </mat-card-title>
              <p style="font-weight: 500;">Video: {{message.videoTitle}}</p>
              <p [innerText]="message.body"></p>
            </div>
          </div>
          <div>
            <button class="accept" (click)="message.subject.startsWith('Offer')? handleOffer(message) : (message.subject.startsWith('Subtitle') ? deleteMessage(message) : acceptTransferOwnership(message))"> 
              {{ message.subject.startsWith('Offer')? 'Accept Offer' : (message.subject.startsWith('Subtitle') ? 'OK' : 'Accept') }}
            </button>
            <button class="decline" *ngIf="!(message.subject.startsWith('Subtitle'))" (click)="message.subject.startsWith('Offer')? declineOffer(message) : declineTransferOwnership(message)"> 
              {{ message.subject.startsWith('Offer')? 'Decline Offer' : 'Decline' }}
            </button>
          </div>
          </mat-card>
        </div>
      </div>
      <div *ngIf="messages.length === 0">
        
        <p>No messages found.</p>
        
      </div>
  </mat-dialog-content>
</div>