.main-view-login {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.call-to-action_login {
    padding-top:15px;
    text-align:center;
}

.call-to-action_login h1{
    font-weight: 600;
}

.mdc-card {
    flex-direction: row;
}

.cards-container {
    display:flex;
    margin-top:60px;
    gap:100px;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-drop-down{
  font-family: 'MartianMono';
  position: absolute;
  z-index: 20;
  top: 100px;
  right: 20px;
  opacity: 1;
  animation-name: show-dd;
  animation-duration: 0.3s;
}

@keyframes show-dd {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
