<h2 mat-dialog-title>Share subtitle</h2>
<mat-dialog-content class="mat-typography">
  <h3 class="mat-typography">Filename: <b>{{data.filename}}</b></h3>
</mat-dialog-content>
<ng-container [ngTemplateOutlet]="canEdit == true ? defaultTemplate : noEdit"></ng-container>

<ng-template #defaultTemplate>
  <div class="input-container" >
    <mat-form-field class="emailInput">
        <mat-label>Add email</mat-label>
        <input matInput  type="email" #email required >
        
    </mat-form-field>
    <mat-form-field class="format-selector">
        <mat-label>Rights</mat-label>
        <mat-select #right required>
          <mat-option [value]="'Editor'">
            Editor
          </mat-option>
          <mat-option [value]="'Viewer'">
            Viewer
          </mat-option>
          <mat-option [value]="'Commenter'">
            Commenter
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h3 *ngIf="email.value && right.value"><input type="checkbox" [(ngModel)]="sendNotificationValue" (ngModelChange)="sendNotification = sendNotificationValue ? true : false">Send notification email</h3>
  </div>

    <div class="accessGridList">
      <mat-dialog-content >
          <h3>People with access</h3>
          <div *ngFor="let right of movedUsersRights let i = index">
            <mat-card class="access-card">
              <div class="row">
                <div class="col">
                  <h4 [ngClass]="{ 'line-through': right['right'] === 'Remove right' }">{{right['userEmail']}}</h4>
                  <p *ngIf="right['userEmail'] == owner_text ">Owner pending </p>
                </div>
                <div class="col">
                  <mat-form-field>
                    <mat-select [(value)]="right['right']"  (selectionChange)="onSelectionChange($event, i)">
                      <mat-option *ngFor="let option of getOptions(right['right'], i)" [value]="option.value">{{option.label }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-card>
          </div>
      </mat-dialog-content>
  </div>

  <div class="buttons-div-container">
    <mat-dialog-actions class="dialog-buttons" >
        <button mat-button [mat-dialog-close]="null">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="{email: email.value , right: right.value, usersRights: data.usersRights, sendNotification }" color="primary">Save</button>
    </mat-dialog-actions>
  </div>
</ng-template>



<ng-template #noEdit>  
      <div class="accessGridList">
        <mat-dialog-content >
            <h3>People with access</h3>
            <div *ngFor="let right of movedUsersRights let i = index">
              <mat-card class="access-card">
                <div class="row">
                  <div class="col">
                    <h4 [ngClass]="{ 'line-through': right['right'] === 'Remove right' }">{{right['userEmail']}}</h4>
                    <p *ngIf="right['userEmail'] == owner_text ">Owner pending </p>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-select  [(value)]="right['right']"  (selectionChange)="onSelectionChange($event, i)">
                        <mat-option [value]="right['right']" >{{ right['right'] }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card>
            </div>
        </mat-dialog-content>
    </div>
  
    <div class="buttons-div-container">
      <mat-dialog-actions class="dialog-buttons" >
          <button mat-raised-button [mat-dialog-close]="null" color="primary">Close</button>
      </mat-dialog-actions>
    </div>

</ng-template>
