.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding-top: 35px;
}

.dashboard-navigation {
  display: flex;
  padding-top: 20px;
}

.back-button-wrapper{
  margin-left: 20px;
}

.sub-details-wrapper{
  margin-left: 100px;
  margin-top: 10px;
}

.lags-info-wrapper{
  margin-top: 15px;
  display: flex;
}

.sub-name-wrapper span{
  font-size: 25px;
}

.lang-wrapper span, .video-lang-wrapper span{
  font-size: 22px;
}

.lang-wrapper {
  margin-left: 30px;
}

.back-button {
    top: 5%;
    left: 3%
}

video-player {
    flex-grow: 0.8;
}
