.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    padding-top: 35px;
}

.dashboard-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.back-button-wrapper{
  margin-left: 20px;
}

.sub-details-wrapper{
  display: flex;
  margin-top: 10px;
}

.back-button {
    top: 5%;
    left: 3%
}

video-player {
    flex-grow: 0.8;
}
