<div class="container">
    <div class="dashboard-navigation">
      <div class="back-button-wrapper">
        <button class="back-button" (click)="navigateToDetails()" mat-mini-fab color="primary"
          matTooltip="Back to Details"><mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="sub-details-wrapper">
        <div class="sub-name-wrapper">
          <span>Editing Subtitle: <b>{{fileName}}</b></span>
        </div>
        <div class="lags-info-wrapper">
          <div class="video-lang-wrapper">
            <span>Video Language:  <b>{{(videoLang$ | async)}}</b></span>
          </div>
          <div class="lang-wrapper">
            <span>Subtitle Language: <b>{{(langName$ | async)}}</b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
        <video-player
          [videoId]="videoId"
          [captionsPreview]="(youtube.getCurrentCaption() | async)">
        </video-player>

        <dialog-component
          [isoCode]="languageIsoCode"
          [videoId]="videoId"
          [subtitleName]="fileName"
          [videoDuration]="videoDuration | async"
          [currentLanguage$]="currentLanguage$"
          [ownerId]="ownerId"
          (loading$)="setLoading($event)"
          (subtitleUploadEmitter)="uploadToFirestorage($event)"
          (navigateTTS)="navigateTTS()"
          (formStatusChange)="setFormDirtyStatus($event)"
          [canOnlyView]="canOnlyView"
          [canComment] = "canComment">
        </dialog-component>
    </div>
<!-- <sub-timeline [videoDurationISO]="videoDuration"></sub-timeline>-->
</div>
<fullscreen-loader *ngIf="(loading$ | async)"></fullscreen-loader>
