main{
  height: 90vh;
}

.profile-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.profile-details, .profile-edit{
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(126, 126, 126, 0.5);
  background-color: #f6f6f6;
}

.profile-details{
  text-align: center;
  width: 20%;
  height: fit-content;
}

.profile-edit-control mat-form-field, .profile-lang-control mat-form-field{
  width: 25vw;
}

.profile-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-display-name p{
  margin-top: 15px;
  font-size: 1.57em;
}

.prof-user-email{
  margin-top: 20px;
}

.prof-user-email p{
  font-size: 0.9em;
  font-style: italic;
  color: grey;
}

.profile-edit-head h3{
  font-size: 1.90em;
  margin-bottom: 40px;
}

mat-card-title{
  font-size: 1.1em;
}

.save-profile-changes{
  margin-top: 50px;
  float: right;
}

.profile-details-header  h3, .lang-details-header h3{
  font-size: 20px
}

.controls-container{
  display: flex;
  flex-flow: wrap;
}

.profile-lang-control{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px #b4b4b4 solid;
}

.profile-edit-bio textarea{
  min-height: 40px;
}

.profile-edit-gmail mat-form-field, .profile-edit-gmail input:hover{
  cursor: not-allowed;
}

.table-container{
  text-align: center;
}

mat-table .no-data-row{
  font-style: italic;
  font-size: 12px;
  color: #323e48;
}

.no-data-row td{
  padding-left: 6.5vw !important;
}

.lang-skill-sector mat-card-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.add-new-lang button {
  border-radius: 25px;
}

.add-lang-btn{
  display: flex;
}

.add-lang-btn span{
  padding-top: 3px;
  padding-left: 2px;
}

.lang-skills-btns {
  display: flex;
  justify-content: flex-end;
}

.save-lang-btn{
  margin-right: 10px;
}
