<main>
  <div class="profile-wrapper" *ngIf="(auth.user | async) as user">
    <div class="profile-details">
      <div class="profile-details-header">
        <p></p>
      </div>
      <div class="profile-img">
        <img alt="profile-user-img" referrerpolicy="no-referrer" [src]="user.photoURL">
      </div>
      <div class="profile-display-name">
        <p>{{user.displayName}}</p>
      </div>
      <div class="prof-user-email">
        <p>{{user.email}}</p>
      </div>
    </div>
    <div class="profile-edit">
      <div class="profile-edit-head">
        <h3>Edit your Profile</h3>
      </div>
      <div class="controls-container">
        <div class="profile-edit-control">
          <form [formGroup]="userInfoForm">
            <div class="profile-details-header">
              <h3>Profile details:</h3>
            </div>
            <div class="profile-edit-display-name">
              <mat-card-header>
                <mat-card-title>Display Name</mat-card-title>
              </mat-card-header>
              <mat-form-field>
                <input matInput formControlName="displayName" placeholder="Your Name to Display" (keydown)="isEdited()">
              </mat-form-field>
            </div>
            <div class="profile-edit-gmail">
              <mat-card-header>
                <mat-card-title>G-Mail</mat-card-title>
              </mat-card-header>
              <mat-form-field matTooltip="To change your Gmail, go to your Google account settings" matTooltipPosition = above>
                <input matInput formControlName="email" placeholder="Your google email" (keydown)="isEdited()">
              </mat-form-field>
            </div>
            <div class="profile-edit-ethnicity" >
              <mat-card-header>
                <mat-card-title>Country</mat-card-title>
              </mat-card-header>
              <mat-form-field>
                <mat-select (selectionChange)="isEdited()" formControlName="ethnicity">
                  <mat-option value="0">Select your country</mat-option>
                  <mat-option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="profile-edit-bio">
              <mat-card-header>
                <mat-card-title>Biography</mat-card-title>
              </mat-card-header>
              <mat-form-field >
                <textarea (keydown)="isEdited()" formControlName="bio" matInput placeholder="Tell something about yourself"></textarea>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="profile-lang-control">
          <form [formGroup]="langSkillsForm">
            <div class="lang-details-header">
              <h3>Language Skills:</h3>
            </div>
            <div class="edit-prof-lang-details">
              <div class="lang-selection-edit">
                <mat-card-header>
                  <mat-card-title>Mother Language</mat-card-title>
                </mat-card-header>
                <mat-form-field>
                  <mat-select (selectionChange)="isEdited()" formControlName="motherLanguage">
                    <mat-option value="0">Select your language</mat-option>
                    <mat-option *ngFor="let lang of (availableLanguages$ | async)?.data?.languages" value="{{lang.name}}">{{lang.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="lang-skill-select">
                <mat-card-header>
                  <mat-card-title>Other Languages</mat-card-title>
                </mat-card-header>
                <mat-form-field>
                  <mat-select (selectionChange)="isEdited()">
                    <mat-option value="0">[NO SKILLS YET]</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="save-profile-changes">
        <button mat-raised-button color="primary" [disabled] = "!editedProfileDetails" (click)="saveChanges()">Save changes</button>
      </div>

    </div>
  </div>
  <fullscreen-loader *ngIf="(loading$ | async)"></fullscreen-loader>
</main>
