<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<main>
  <div class="profile-wrapper" *ngIf="(auth.user | async) as user">
    <div class="profile-details-card">
      <div class="prof-overview-header">
        <h3>Profile Overview</h3>
      </div>
      <div class="profile-img">
        <img alt="profile-user-img" referrerpolicy="no-referrer" [src]="user.photoURL">
      </div>
      <div class="profile-display-name">
        <p>{{user.displayName}}</p>
      </div>
      <div class="prof-user-email">
        <p>{{user.email}}</p>
      </div>
      <div class="prof-bio-display">
        <p><span *ngIf="user.bio.length > 0"> &#x275D; {{user.bio}} &#x275E; </span></p>
      </div>

      <div class="user-rating-display" matTooltip = "{{ratingTooltip}}">
        <div class="full-star" *ngFor="let star of stars">
          <mat-icon *ngIf="star == 1">star</mat-icon>
        </div>
        <div class="half-star" *ngFor="let star of stars">
          <mat-icon *ngIf="star == 2">star_half</mat-icon>
        </div>
        <div class="empty-star" *ngFor="let star of stars">
          <span class="material-symbols-outlined" *ngIf="star == 3">star</span>
        </div>
      </div>

    </div>
    <div class="profile-edit">
      <div class="profile-edit-head">
        <h3>Edit your Profile</h3>
      </div>
      <div class="controls-container">
        <div class="profile-edit-control">
          <form [formGroup]="userInfoForm">
            <div class="profile-details-header">
              <h3>Profile details:</h3>
            </div>
            <div class="profile-edit-display-name">
              <mat-card-header>
                <mat-card-title>Display Name</mat-card-title>
              </mat-card-header>
              <mat-form-field>
                <input matInput formControlName="displayName" placeholder="Your Name to Display" (keydown)="isEdited()">
                <mat-error *ngIf="userInfoForm!.get('displayName')?.hasError('required')">Please fill out display name correctly</mat-error>
              </mat-form-field>
            </div>
            <div class="profile-edit-gmail">
              <mat-card-header>
                <mat-card-title>G-Mail</mat-card-title>
              </mat-card-header>
              <mat-form-field matTooltip="To change your Gmail, go to your Google account settings" matTooltipPosition = above>
                <input matInput formControlName="email" placeholder="Your google email" (keydown)="isEdited()">
              </mat-form-field>
            </div>
            <div class="profile-edit-ethnicity" >
              <mat-card-header>
                <mat-card-title>Country</mat-card-title>
              </mat-card-header>
              <mat-form-field>
                <mat-select (selectionChange)="isEdited()" formControlName="ethnicity">
                  <mat-option value="0">Select your country</mat-option>
                  <mat-option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="profile-edit-bio">
              <mat-card-header>
                <mat-card-title>Biography</mat-card-title>
              </mat-card-header>
              <mat-form-field >
                <textarea (keydown)="isEdited()" formControlName="bio" matInput placeholder="Tell something about yourself"></textarea>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="profile-lang-control">
            <div class="lang-details-header">
              <h3>Language Skills:</h3>
            </div>
            <div class="edit-prof-lang-details">
              <form [formGroup]="motherLangForm">
                <div class="mother-lang-edit">
                    <mat-card-header>
                      <mat-card-title>Mother Language</mat-card-title>
                    </mat-card-header>
                    <mat-form-field>
                      <mat-select (selectionChange)="isEdited()" formControlName="motherLang">
                        <mat-option value="0">Select your language</mat-option>
                        <mat-option *ngFor="let lang of (availableLanguages$ | async)?.data?.languages" value="{{lang.name}}">{{lang.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
              </form>
              <div class="lang-skill-sector">
                <mat-card-header>
                  <mat-card-title>{{(addLang) ? 'Add new Foreign Language' : (editLang) ? 'Edit Foreign Language' : 'Foreign Languages'}}</mat-card-title>
                  <div class="add-new-lang">
                    <button mat-raised-button color="primary" *ngIf="!addLang" (click)="onClickToAddLang()" matTooltip="Click to add new foreign language" matTooltipPosition = above>
                      <div class="add-lang-btn" >
                        <mat-icon class="add-icon">add</mat-icon>
                        <span>Add</span>
                      </div>
                    </button>
                  </div>
                </mat-card-header>
                  <div class="lang-skill-table" *ngIf="!addLang && !editLang">
                    <div class="table-container">
                      <table mat-table matSort class="mat-elevation-z8 table" #table [dataSource]="langSkillDataSource" >

                        <ng-container matColumnDef="language" >
                          <th mat-header-cell *matHeaderCellDef>Language</th >
                          <td mat-cell *matCellDef="let otherLang" >{{otherLang.language}}</td>
                        </ng-container>

                        <ng-container matColumnDef="skill">
                          <th mat-header-cell *matHeaderCellDef>Level</th>
                          <td mat-cell *matCellDef="let otherLang">{{otherLang.level}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                          <th mat-header-cell *matHeaderCellDef >Options</th>
                          <td mat-cell *matCellDef="let row = index;">
                            <div class="leave-options">
                              <mat-icon class="icon material-symbols-outlined edit-lang-icon" matTooltip="Edit" color="primary" (click)="onClickToEditLang(row)">edit</mat-icon>
                              <mat-icon class="icon bin del-lang-icon"  matTooltip="Delete!" color="primary" (click)="onClickToDeleteLang(row)">delete_forever</mat-icon>
                            </div>
                          </td>
                        </ng-container>

                        <tr mat-header-row class="header" *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row class="header-row" *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row no-data-row" *matNoDataRow>
                          <td class="mat-cell empty-table" colspan="3"><span >No languages have been added!</span></td>
                        </tr>

                      </table>
                    </div>
                  </div>
                  <div class="add-lang-skill" *ngIf="addLang || editLang" [formGroup]="langSkillsForm">
                    <div class="foreign-lang-select">
                      <mat-card-header>
                        <mat-card-title>Language</mat-card-title>
                      </mat-card-header>
                      <mat-form-field appearance="fill">
                        <mat-select (selectionChange)="isEdited()" formControlName="lang">
                          <mat-option value="0">Select your language</mat-option>
                          <mat-option *ngFor="let lang of (availableLanguages$ | async)?.data?.languages" value="{{lang.name}}">{{lang.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="langSkillsForm!.get('lang')?.hasError('required')">You must select a language</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="skill-level-select">
                      <mat-card-header>
                        <mat-card-title>Skill Level</mat-card-title>
                      </mat-card-header>
                      <mat-form-field>
                        <mat-select (selectionChange)="isEdited()"  formControlName="skill">
                          <mat-option value="0">Select skill</mat-option>
                          <mat-option *ngFor="let skill of skillLevels" value="{{skill.level}}">{{skill.description}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="langSkillsForm!.get('skill')?.hasError('required')">You must select a skill level</mat-error>
                      </mat-form-field>
                      <div class="lang-skills-btns">
                        <div class="save-lang-btn">
                          <button mat-raised-button color="primary" (click)="onClickToSaveNewLanguage()" [disabled]="langSkillsForm!.get('lang')?.hasError('required') || langSkillsForm!.get('skill')?.hasError('required') || langSkillsForm!.get('lang')?.value == 0 || langSkillsForm!.get('skill')?.value == 0">
                            Save
                          </button>
                        </div>
                        <div class="cancel-lang-btn">
                          <button mat-raised-button color="warn" (click)="cancelAddEdit()">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="save-cancel-prof-btn">
        <div class="save-profile-changes">
          <button mat-raised-button color="primary" [disabled] = "!editedProfileDetails || addLang || editLang || !userInfoForm.valid" (click)="saveChanges()">Save changes</button>
        </div>
        <div class="revert-profile-changes">
          <button mat-raised-button color="warn" [disabled] = "!editedProfileDetails || addLang || editLang" (click)="revertChanges()">Revert changes</button>
        </div>
      </div>
    </div>
  </div>
  <fullscreen-loader *ngIf="(loading$ | async)"></fullscreen-loader>
</main>
