main{
  height: 85vh;
}

.profile-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.profile-details-card, .profile-edit{
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(126, 126, 126, 0.5);
  background-color: #f6f6f6;
}

.profile-details-card{
  text-align: center;
  width: 20%;
  height: fit-content;
}

.profile-edit-control mat-form-field, .profile-lang-control mat-form-field{
  width: 25vw;
}

.profile-img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-display-name p{
  margin-top: 15px;
  font-size: 1.55em;
}

.prof-user-email{
  margin-top: 10px;
}

.prof-user-email p{
  font-size: 0.9em;
  color: grey;
}

.prof-bio-display{
  font-size: 1.2em;
  font-style: italic;
  color: #333333;
}

.profile-edit-head h3, .prof-overview-header h3{
  font-size: 1.90em;
  margin-bottom: 40px;
}

mat-card-title{
  font-size: 1.1em;
}

.save-cancel-prof-btn{
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.save-profile-changes{
  margin-right: 25px;
}

.profile-details-header  h3, .lang-details-header h3{
  font-size: 20px
}

.controls-container{
  display: flex;
  flex-flow: wrap;
}

.profile-lang-control{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px #b4b4b4 solid;
}

.profile-edit-bio textarea{
  min-height: 40px;
}

.profile-edit-gmail mat-form-field, .profile-edit-gmail input:hover{
  cursor: not-allowed;
}

.table-container{
  text-align: center;
}

.empty-table{
  font-style: italic;
  font-size: 12px;
  color: #323e48;
}

.lang-skill-sector mat-card-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.add-new-lang button {
  border-radius: 25px;
}

.add-lang-btn{
  display: flex;
}

.add-lang-btn span{
  padding-top: 3px;
  padding-left: 2px;
}

.lang-skills-btns {
  display: flex;
  justify-content: flex-end;
}

.save-lang-btn{
  margin-right: 10px;
}

.table-container mat-table{
  margin-top: 10px;
}

.table{
  width: 100%;
}

.mat-column-language {
  width: 40%;
  text-align: center;
}

.mat-column-skill{
  width: 40%;
  text-align: center;
}

.mat-column-options {
  width: 20%;
  text-align: right;
}

.leave-options .icon{
  scale: 107%;
  opacity: 90%;
  transition: scale 0.14s ease
}

.leave-options .icon:hover{
  cursor: pointer;
  scale: 118%;
  transform: rotate(3deg);
}

.leave-options .edit-lang-icon:hover{
  color: rgb(67, 108, 33);
}

.leave-options .del-lang-icon:hover{
  color: rgb(107, 11, 11);
}

.user-rating-display{
  margin: auto;
  display: flex;
  justify-content: center;
}

.user-rating-display:hover{
  cursor: pointer;
}

.user-rating-display mat-icon, .user-rating-display span{
  color: #ce950c;
}
