<h3 mat-dialog-title>Transfer ownership?</h3>
<div mat-dialog-content>
  <h4>{{data.email}}</h4>
  <br>
  <ng-container [ngTemplateOutlet]="data.requestOwnerEmail != '' ? alternativeTemplate : defaultTemplate"></ng-container>

  <ng-template #alternativeTemplate>
    <p>Sending a new ownership transfer request will cancel the previous one. You'll be the owner until this person accepts ownership.</p>
  </ng-template>

  <ng-template #defaultTemplate>
    <p>You'll be the owner until this person accepts ownership.</p>
  </ng-template>

</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button class="Send" mat-raised-button [mat-dialog-close]="{email: data.email}" cdkFocusInitial color="primary">Send invitation</button>
</div>