.dialog-wrapper {
  display:flex;
  flex-direction: column;
  margin-top: 40px;
}

.main-content_wrapper {
  margin-top: 40px;
  overflow-y: auto;
  height: 70vh;
  overflow-x: visible;
}

.button-wrapper  {
  display: flex;
  flex-direction: row;
  gap:20px;
  padding-bottom:20px;
  justify-content: center;
}

.button-wrapper > input {
  display: none;
}

.button-wrapper button{
  scale: 118%;
}

.button-wrapper button{
  transition: scale 0.14s ease
}

.button-wrapper button:hover{
  scale: 128%;
}
