<div class="dialog-wrapper">
    <div class="button-wrapper">
        <button mat-icon-button color="primary"
            (click)="addDialogBox(null,true)"
            matTooltip="Add Dialog Box"><mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button color="primary"
        (click)="openDialogForBatchDialogCreation()"
        matTooltip="Batch Add Dialog Boxes"><mat-icon>library_add</mat-icon>
        </button>

        <button mat-icon-button color="primary" matTooltip="Translate all subtitles" (click)="openDialogToTranslateSubtitles()">
            <mat-icon>g_translate</mat-icon>
        </button>

        <import-button
          (fileContentEmit)="handleFileUpload($event)"
          (isFormDirty)="setIsFormDirty($event)"
          [acceptedFiles]="'.sbv, .srt, .txt'">
        </import-button>

        <button (click)="openDownloadDialog()" mat-icon-button color="primary" matTooltip="Download Subtitles">
            <mat-icon>file_download</mat-icon>
        </button>

       <button [disabled]="canOnlyView" (click)="openPersonCreationModal()" mat-icon-button color="primary" matTooltip="Manage Characters/Voice actors to assign them to subtitles">
            <mat-icon>person</mat-icon>
        </button>

        <button [disabled]="canOnlyView" (click)="checkIfChangesToGenerateSpeech()" mat-icon-button color="primary" matTooltip="Generete Voices/Speech for your subtitles">
          <mat-icon>record_voice_over</mat-icon>
        </button>

        <button (click)="uploadSubtitle()" mat-icon-button color="primary" matTooltip="Save">
          <mat-icon>save</mat-icon>
        </button>
    </div>

    <div class="main-content_wrapper" #scrollContainer>
        <dialog-content *ngFor="let dialogBox of dialogBoxes; let dialogIndex = index"
          [dialogGroup] = "getDialogControl(dialogBox.id)"
          [index] = "dialogIndex"
          [dialogId] = "dialogBox.id"
          [persons] = "characters.length <= 0 ? null : characters"
          [hasFocus] = "focusedDialogBox === dialogBox.id"
          [supportedLanguages] = "(supportedLanguages$ | async)?.data?.languages"
          [currentLanguage$]="currentLanguage$"
          (loading$) = "setLoading($event)"
          (translateSubtitle) = "translateSingleSubtitle($event)"
          (chatGPTEventEmitter) = "chatGPTEventDispatcher($event)"
          (deleteDialogBoxEvent) = "deleteDialogBox($event)"
          (dialogEmitter) = "timeRangeValidation($event)"
          (isDirty) = "setFormDirtyStatus($event)"
          [canOnlyView] = "canOnlyView"
          [canComment] = "canComment">
        </dialog-content>
    </div>
</div>
<fullscreen-loader *ngIf="(loading | async)"></fullscreen-loader>
