.mat-mdc-form-field {
    max-width:550px;
    width:550px;
}

.url-wrapper {
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.mdc-button {
    margin-top:10px;
    height:42px;
    width:100px;
}

.add-vid-btn{
  border-radius: 15px;
}

.add-span-txt{
  display:flex;
}

.add-span-txt span{
  margin-top: 4px;
}

.add-span-txt mat-icon{
  margin-left: 5px;
}
